[Desktop Entry]
Type=Application
Exec=/usr/bin/firefox
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=30
Name[en_US]=Firefox
Name=Firefox
Comment[en_US]=
Comment=
