[Desktop Entry]
Type=Application
Exec=/usr/bin/launchy
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Launchy
Name=Launchy
Comment[en_US]=
Comment=
