[Desktop Entry]
Type=Application
Exec=terminator
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Terminal
Name=Terminal
Comment[en_US]=
Comment=
